<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czb.charge.lib">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.ScanActivity" />

        <activity
            android:name=".activity.BWebViewActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
